keyboard
PyQt6
requests
unidic
unidic-lite
SudachiDict-full
SudachiDict-core
SudachiDict-small
SudachiPy
opencv-python
PyAutoGUI
numpy
fugashi
tencentcloud-sdk-python
pyinstaller
PyWin32
mecab-python3
PyYAML
aliyun-python-sdk-core-v3
aliyun-python-sdk-alimt