keyboard == 0.13.5
PyQt6>=6.3.0
requests==2.27.1
unidic==1.1.0
unidic-lite==1.0.8
SudachiDict-full==20211220
SudachiDict-core==20211220
SudachiDict-small==20211220
SudachiPy==0.6.3
opencv-python==4.5.5.64
PyAutoGUI==0.9.53
numpy==1.21.5
fugashi==1.1.2
tencentcloud-sdk-python==3.0.598
pyinstaller==4.10
PyWin32==303
mecab-python3==1.0.4
PyYAML==6.0