name: Package Application with Pyinstaller

on: 
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-2019
    
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.7
        uses: actions/setup-python@v3
        with:
          python-version: '3.7'
          architecture: 'x64'
          cache: 'pip'
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
        
      - name: install req
        run: pip install -r requirements.txt ; python -m unidic download ;
        
      - name: dl upx
        run: certutil -urlcache -split -f https://github.com/upx/upx/releases/download/v3.96/upx-3.96-win64.zip upx.zip ; 7z x upx.zip
      
      - name: pack:full
        run: pyinstaller --upx-dir upx-3.96-win64 TransAssistant_full.spec -y ; 7z a -t7z TransAssistant_full.7z dist/TransAssistant_full
        
      - name: pack:core
        run: pyinstaller --upx-dir upx-3.96-win64 TransAssistant_core.spec -y ; 7z a -t7z TransAssistant_core.7z dist/TransAssistant_core

      - name: pack:core-lite
        run: pyinstaller --upx-dir upx-3.96-win64 TransAssistant_core-lite.spec -y ; 7z a -t7z TransAssistant_core-lite.7z dist/TransAssistant_core-lite

      - name: pack:core-small
        run: pyinstaller --upx-dir upx-3.96-win64 TransAssistant_small.spec -y ; 7z a -t7z TransAssistant_small.7z dist/TransAssistant_small
        
      - name: upload
        uses: actions/upload-artifact@v3
        with:
          name: GUI
          path: TransAssistant_*.7z
          
      - name: release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "TransAssistant_*.7z"
          draft: false

